.btn a{
    color: white !important;
}

.header{
    font-size: 0.875rem !important;
    font-weight: bold !important;
}

.back-danger{
    background-color: #d43f3a !important;
}
.back-success{
    background-color: #4cae4c !important;
}
.back-warning{
    background-color: #f0ad4e !important;
}
.back-info{
    background-color: #5bc0de !important;
}
.back-primary{
    background-color: #337ab7 !important;
}

.text-danger{
    color: #a94442 !important;
}
.text-success{
    color: #4cae4c !important;
}
.text-primary{
    color: #337ab7 !important;
}
.text-info{
    color: #5bc0de !important;
}
.text-warning{
    color: #f0ad4e !important;
}

.panel{
    padding:0 !important;
    text-align: center !important;
    min-width: 150px !important;
    height:200px !important;
}

.panel .panel-body{
    height:100% !important;
}

.semaine{
    background-color: #337ab7 !important;
    width: 65px !important;
    color: white;
    text-align: center;
}

.weekend{
    background-color: #a0a0a0 !important;
    width: 65px !important;
    color: white;
    text-align: center;
}

.supp{
    width: 40px !important;
}

.blank{
    height: 10px;
}

.large-2bis{
    width: 13% !important;
}

.large-10bis{
    width: 87% !important;
}

.fixe{
    position: fixed;
    width: 220px;
    left: 14.5%;
    z-index: 999;
    top:200px
}
