.btn a{
    color: white !important;
}

.back-danger{
    background-color: #d43f3a !important;
}
.back-success{
    background-color: #4cae4c !important;
}

.text-danger{
    color: #a94442 !important;
}

.panel{
    padding:0 !important;
    text-align: center !important;
    min-width: 150px !important;
}

.panel.panel-body{
    height:150px !important;
}
