body{
    background-color: #424351;
    color: white;
}
p i{
    padding-left: 20px;
}

p a{
    color: #E92C3B;
}

/* visited link */
p a:visited {
    color: #A3A3A3;
}

/* mouse over link */
p a:hover {
    color: #F06C76;
}

.header_mail img{
    height: 100px;
}

.rouge{
    color: #E92C3B;
}
.footer_mail{
    font-size: small;
}
