body{
    background-color: #221F20;
    color: white;
}
p i{
    padding-left: 20px;
}

p a{
    color: #01ABBD;
}

/* visited link */
p a:visited {
    color: #A3A3A3;
}

/* mouse over link */
p a:hover {
    color: #019BAD;
}

.header_mail img{
    height: 100px;
}

.rouge{
    color: #01ABBD;
}
.footer_mail{
    font-size: small;
}
